* {
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }
body{
    margin: 0px;
    padding-top: 20px;
}
header{

    margin-left: 20%;
    padding:10px;
width: 60%;

}

.border{
    margin-top: 40px;
    background-image: url('../img/hr-img.png');
    background-repeat: repeat ;
    width: 100%;
    height: 40%;
}
#logo {
    display: inline-block;
}
 #logo img {
    position: absolute;
}
#logotext{
    
    margin-left: 50px;
    margin-top: 0px;
}
#divnav{
   float: right;
    margin-left: 0px;
}
#divnav li {
    display: inline-block;
}
#pint{
    margin-right: 10px;
}
h1{
    font-size: 35px;
    font-weight: bold;
    font-family: 'Yellowtail', cursive;
}
h2{

    font-family: 'Big Shoulders Display', cursive;
    font-size: 43px;
   font-weight: bolder;
}
h4{
    font-family: 'Cairo', sans-serif;
    font-size: 11px;
    color: rgb(88, 85, 85);
}
h5{
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: rgb(126, 120, 120);

}
#pizza{
display:inline-block ;

}
#print {
float: right;
    margin-right: 0px;
    margin-top: 41px;
}
#check{
    margin-top: 20px;
    padding: 35px;
    padding-left: 60px;
    box-shadow: 2px 7px lightgrey;
background-image: url(../img/list-bg.png);

}
.checklist{
   margin-bottom: 29PX;
    display: inline-block;
    font-size: 25px;
    font-family: 'Patrick Hand', cursive;
}
.checklist  input{ 
   margin-top: 5px;
}
.checklist2{
    float: right;
    margin-right: 55px;
    font-size: 25px;
    font-family: 'Patrick Hand', cursive;
   
}
footer{
    margin-top: 20px;
    width: 60%;
    margin-left: 20%;
}
#logof {
    display: inline-block;
    margin-top: 20px;
}
 #logof img {
    position: absolute;
}
#logoftext{
    
    margin-left: 90px;
    margin-top: 0px;}

    #divnav2{
        background:#BC7058;
        text-align: center;
        float: right;
        margin-left: 0px;
        margin-top: 35px;
border: 2px solid #BC7058;
width: 200px;
height: 50px;
padding-top: 15px;
    }